.header {
    padding-left: 0px !important;
}

.header-bg {
    background: rgba(12, 70, 96, 0.85);
    position: absolute;
    z-index: 10;
    padding: 0px;
  }

.overlay {
    position: absolute;
    bottom: 1px;
}

.placeholder {
    height: 150px;
}
.sticky-top {
    padding-bottom: 0px;
}

.navbar-brand {
    font-family: Montserrat;
    font-size: 3em;
}

.nav-tabs {
    border: 0px solid transparent !important;
    border-bottom: 0px solid transparent !important;
}
.nav-tabs .nav-link {
    border: 0px solid transparent;
    border-bottom: 0px solid transparent !important;
    background: rgba(12, 70, 96, 0.95);
}

a, a:hover {
    color: white;
}

a.quick-link {
    color: black;
}

.nav-tabs > a:hover {
    background: rgb(15, 176, 250);
    color: white;
}

.carousel-inner {
    height: 650px;
}

.carousel-inner > .carousel-item > img {
    min-width: 100%;
    position: relative;
    height: 650px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.6);
}

.far, .fa, .fas {
    color:  rgb(5, 50, 100);
}

.fab {
    color: white;
}

.far:hover, .fa:hover, .fas:hover {
    color:  rgb(200, 85, 0);
}

.card {
    border: none;
}

.card-border {
    border: 1px solid rgba(172, 172, 172, 0.79);
}

.quick-card {
    background: rgba(12, 70, 96, .9)
}

footer {
    background: rgba(12, 70, 96, 0.9);
    color: white;
}

.bios {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.bios > img {
    position: absolute;
}